{% extends 'core/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block main %}
    <div class="card px-5 py-5">
        <div class="card-title">
            {{ post.title }}
        </div>
        <div>
            {{ post.content }} <br>
            {{ post.user }} {{ post.created_at }}
        </div>
        {% if request.user == post.user %}
        <div class="card-footer">
            <a href="{% url 'edit_post' post.id %}" class=" btn btn-warning">
                ویرایش
            </a>
            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">
                حذف
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}